.link {
    cursor: pointer;
}

th, td {
  border-bottom: 1px solid #ddd;
}

input, select {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px 7px;
}

input[type=submit] {
    background: #d2d8e0;
    cursor: pointer;
}

a {
    color: #679de5;
    text-decoration: none;
}

#user_info {
    float: left;
    padding: 10;
}

#wrapper {
    margin: 30;
    text-align: center;
}

.table_info {
    margin: auto;
    width: fit-content;
}

.table_content {
    display: block;
    text-align: center;
}

.d1 {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    width: fit-content;
    padding: 20px;
    margin-right: 40px;
    box-shadow: #555 0 0 8px;
    border-radius: 10px;
}

.d2 {
    display: inline-block;
    box-shadow: #555 0 0 8px;
}